/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#explore {
	text-align: right;
}
#explore li{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	margin-bottom: 125px;
}
#logo {
	text-align: center;
}
.logo {
	height: 125px;
	display: block;
	margin: 25px auto;
}
input {
	border: 0;
	margin: none;
	width: 400px;
	height: 30px;
}
#search {
	border: 1px solid lightgray;
	width: 400px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}
.mic {
	height: 25px;
	vertical-align: middle;
	display: inline;
	margin-left: -30px;
}
#buttons {
	text-align: center;
	margin: 5px;
	padding: 10px;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: lightgray;
}
#first ul{
	display: inline-block;
	vertical-align: middle;
	float: left;
}
#second ul{
	display: inline-block;
	vertical-align: middle;
	float: right;
}
ul li{
	display: inline-block;
	padding: 5px;
}